:root {
  --max-width: 1024px;

  --font-primary: "Noto Sans", sans-serif;
  --font-emphasis: "Lobster", cursive;

  --font-bold: 700;
  --font-normal: 400;

  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 2.5rem;

  --spacing-xs: 0.4rem;
  --spacing-sm: 0.7rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.3rem;
  --spacing-xl: 1.6rem;

  --line-height-base: 1.25;
  --line-height-extra: 1.5;

  --color-white: #fdfdfd;
  --color-off-white: #f4f4f4;
  --color-black: #191919;
  --color-grey: #666666;
  --color-light-grey: #dddddd;
  --color-dark-grey: #444444;
  --color-green: #60a060;
}
