@import "../../node_modules/reset-css/reset.css";
@import "./variables.css";

@import "./box.css";
@import "./layout.css";
@import "./spacing.css";
@import "./typography.css";

html, body {
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
  color: var(--color-black);
  background: var(--color-off-white);
}

body {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
