@import "../../node_modules/reset-css/reset.css";
@import "./variables.css";

@import "./box.css";
@import "./layout.css";
@import "./spacing.css";
@import "./typography.css";

html, body {
  font-family: sans-serif;
  color: var(--color-black);
}

body {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
