:root {
  --font-primary: "Noto Sans", sans-serif;
  --font-emphasis: "Lobster", cursive;

  --font-bold: 700;
  --font-normal: 400;

  --size-xxs: 0.5rem;
  --size-xs: 0.7rem;
  --size-sm: 0.85rem;
  --size-md: 1rem;
  --size-lg: 1.2rem;
  --size-xl: 1.75rem;
  --size-xxl: 2.5rem;
  --size-xxxl: 4rem;

  --color-white: #fdfdfd;
  --color-off-white: #f4f4f4;
  --color-black: #191919;
  --color-grey: #666666;
  --color-dark-grey: #444444;
  --color-green: #60a060;
}
