:root {
  --font-primary: "Noto Sans", sans-serif;
  --font-emphasis: "Lobster", cursive;

  --font-bold: 700;
  --font-normal: 400;

  --size-xs: 0.5rem;
  --size-sm: 0.75rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;

  --color-white: #fefefe;
  --color-off-white: #f4f4f4;
  --color-black: #222222;
  --color-grey: #777777;
  --color-dark-grey: #444444;
  --color-green: #60a060;
}
